@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Lucida Handwriting';
  src: url('./fonts/LucidaHandwritingStdRg.TTF');
}

html {
	scroll-behavior: smooth;
}

nav{
  z-index: 1000;
}

nav ul {
    flex-grow: 1;
    direction: rtl;
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    padding: 4px 7px;
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    .checkbtn {
        display: inline-flex;
        align-items: center;
        padding-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .headerSolid img{
      margin-left: 0 !important;
      align-items: center;
    }

    .ul {
        direction: ltr;
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.35) !important ;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        top: 85px;
        left: -100%;
        text-align: center;
        transition: ease-in .35s;
    }

    nav ul li {
        display: block;
        line-height: 40px;
        width: 100%;

    }

    nav ul li a {
        display: inline-block;
        margin: 0 0 0 -10px;
        width:90%;
        height:100%;
        font-size: 20px;
        border-bottom: 0;
        text-align: left;
        padding-left: 20px;
    }

    a:hover,
    a.active {
        background: rgba(0, 130, 230, 0.65);
        color: white !important; 
        border-bottom: none;
        transition: .2s;
    }

    .logo a:hover,
    .logo a.active{
      background: transparent !important;
    }

    #check:checked~ul {
        left: 0;
    }

    .mainHeader{
      background-position: center !important;
      background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('./images/bg1.png') !important;
    }

    .nombreHeader h1{
      font-size: 3.5rem !important;
    }
    
    .nombreHeader h3{
      font-size: 1.5rem !important;
    }

    .info{
      flex-direction: column;
      padding-top: 100px !important;
    }

    .perfil{
      margin-bottom: 0 !important;
    }

    .info img{
      width: 15rem !important;
    }

    .perfil h2{
      text-align: center;
    }

    .text{
      padding: 0 2rem !important;
    }

    .text p{
      font-size: 1.2rem !important;
    }

    .text h2{
      margin: 1rem 0 0 0 !important;
      font-size: 2rem !important;
      text-align: center;
    }

    .descripcion{
      padding: 8rem 15px 15px 15px !important;
      margin: 0 1rem;
      max-height: 120vh;
      position: relative;
      left: 0 !important;
      top: -7.5rem !important;
      border-radius: 15px;
      background-color: lightgrey;
      z-index: -1;
    }

    .descripcion h2{
      font-size: 2.5rem !important;
    }

    .odd{
      flex-direction: column-reverse;
    }

    .foto img{
      width: 70vw !important;
      margin: 0 !important;
    }
    
    .servicios h1, .contacto h1{
      font-size: 2.4rem !important;
      text-align: center;
    }

    .contacto h1{
      margin-bottom: 5rem !important;
      padding-bottom: 0 !important;
    }
    
    .tarjeta {
      width: 90vw !important;
      height: 58.24vw !important;
    }

}

.container{
    height: 100vh;
}

body{
  margin: 0;
  font-family: 'Oswald';
}

.headerSolid img{
  filter: invert(1);
  margin-left: 20px;
}

.headerSolid{
  height: 75px;
  padding: 5px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.35) !important ;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: .2s;
  box-shadow: 0 15px 15px -2px rgba(0,0,0,.25);
}

.headerSolid a{
  text-decoration: none;
  color: white;
  transition: .2s;
  font-size: 18px;
}


.headerSolid a:hover{
  color: gray;
  transition: .2s;
}

.mainHeader{
  background-color: black;
  width: 100%;
  height: 95vh;
  color: white;
  display: inline-flex;
  align-items: center;
  background-image: url('../images/bg1.png');
  background-repeat:no-repeat;
  background-attachment: scroll;
  background-position: right; 
  background-size: auto 100%;
  box-shadow: 0px 5px 19px 30px rgb(0,0,0);
  margin: 0 0 150px 0;
}

.nombreHeader{
  margin: 0 0 0 15%;
  
}

.nombreHeader h1{
  margin: 0;
  font-weight: 700;
  font-size: 6rem;
  text-shadow: 0px 0px 50px #000000;
}

.nombreHeader h3{
  margin: -1vw 0 0 0;
  font-weight: 200;
  font-size: 2.5rem;
  font-style: italic;
  color: gray;
  text-align: right;
  text-shadow: 0px 0px 50px #000000;
}

.pageBody{
  width: 100%;
  height: 150vh;
}

.info{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  padding-top: 50px !important;
}

.info img{
  border-radius: 100%;
  box-shadow: 0px 0px 24px 6px #888888;
  width: 30rem;
}

.descripcion{
  max-width: 500px;
  max-height: 1000px;
  position: relative;
  left: -5rem;
  padding: 15px 15px 15px 7rem;
  border-radius: 15px;
  background-color: lightgrey;
  z-index: -1;
  box-shadow: 0px 0px 24px 1px #888888;
}

.descripcion h2{
  margin: 0;
  font-size: 3rem;
  font-family: 'Lucida Handwriting';
  font-style: italic;
}

.descripcion ul{
  margin: 0;
  list-style-type: '-  ';
}

.descripcion p{
  margin: 0.5rem 0;
}

.descripcion p, .descripcion li{
  font-weight: 200;
  font-size: 1.2rem;
}

.text{
  max-width: 50rem;
  padding: 0 5rem;
}

.text h2{
  font-family: 'Lucida Handwriting';
  font-style: italic;
  font-size: 3rem;
}

.text p{
  font-weight: 200;
  font-size: 1.5rem;
}

.foto img{
  border-radius: 0;
  width: 40vw;
  margin: 3rem;
}

.servicios{
  padding-top: 100px;
}

.servicios h1{
  margin: 0;
  font-size: 5rem;
  font-family: 'Lucida Handwriting';
  font-style: italic;
  text-decoration: underline;
}

.footer{
  background-color: #000000;
  color: #FFF;
  width: 100%;
  min-height: 5rem;
  padding: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.footer .detallesFooter{
  display: flex;
  flex-direction: row;
}

.footer .enlaces{
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.footer .enlaces a{
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
}

.footer .enlaces a:hover{
  text-decoration: underline;
}

.footer img{
  filter: invert();
  width: 12rem;
  padding-right: 1vw;
}

.footer .detallesFooter .viasContacto{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-left: 2px solid white;
  padding-left: 1vw;
}

.footer .detallesFooter .viasContacto div{
  display: flex;
  justify-content: left;
  align-items: center;
  font-style: italic;
}

.footer .detallesFooter .viasContacto div a{
  text-decoration: none;
  color: #FFF;
}

.footer .detallesFooter .viasContacto div a:hover{
  text-decoration: underline;
}

.footer .detallesFooter .viasContacto img{
  width: 2rem;
  padding: 0 0.2rem 0 0;
}

.contacto{
  margin: 5rem 0 15rem 0;
}

.contacto .infoContacto{
  display: flex;
  justify-content: center;
}

.contacto h1{
  margin: 0;
  padding: 100px 0;
  font-size: 5rem;
  font-family: 'Lucida Handwriting';
  font-style: italic;
  text-decoration: underline;
}

.tarjeta {
  width: 60vw;
  height: 38.82vw;
  perspective: 1000px;
}

.tarjeta__interior{
  width: 100%;
  height: 100%;
  transition: transform .75s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.tarjeta__interior.volteada{
  transform: rotateY(180deg);
}

.tarjeta__cara{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0px 0px 24px 6px #888888;
}

.tarjeta__cara--frontal{
  background-image: url('./images/tarjetavisita2.png');
  background-repeat:no-repeat;
  background-attachment: scroll;
  background-position: right; 
  background-size: auto 100%;
}

.tarjeta__cara--reverso{
  background-image: url('./images/tarjetavisita1.png');
  background-repeat:no-repeat;
  background-attachment: scroll;
  background-position: right; 
  background-size: auto 100%;

  transform: rotateY(180deg);
}


